Assignment-2

1. How do you comment code in python ? what are different types of comments?

In [15]:
# addition 
s = 1 + 2    #this is single line comment

In [14]:
print(s)

3

In [16]:
''' s1 = addition
    s2 = subtract '''  #this is multiline comment
s1 = 1 + 2
s2 = 2 - 1

In [17]:
print(s1)
print(s2)

3
1

###there are 2 types of comments in python  #single line coment   #multiline coment

2. what are varible in python ? how do you declare and assign values to varibles?

In Python, a variable is a symbolic name that references a value stored in the computer's memory. It acts as a container for storing data, and you can manipulate and retrieve this data using the variable name.

To declare and assign values to variables in Python, you simply use the assignment operator (=). Here's the basic syntax:

In [20]:

a = 10
"a is an variable"

'a is an variable'

3.how do you convert one data type to another data type in python ?

In [26]:
##String to Integer or Float

string_num = "123"
integer_num = int(string_num)
float_num = float(string_num)

print(integer_num)
print(float_num)

123
123.0

In [37]:
##Integer or Float to String

integer_num = 123
float_num = 123.45
string_num = str(integer_num)
string_float = str(float_num)

print(string_num)
print(string_float)

123
123.45

In [44]:
s = {" ranganath ", " data scientist "}

In [46]:
##sets to tuple
tuple(s)

(' ranganath ', ' data scientist ')

In [47]:
## sets to list
list(s)

[' ranganath ', ' data scientist ']

4.how do you write and excute a python script from the command line ?

step 1
open a note pad create a new file with a .py and write a pyhthon code in this file and save it

In [55]:
s = "hello world"
print(s)

hello world

step 2 
save the file with" .py "extension in a directory of your choice. Remember the location where you saved the file.

step 3 
open the command prompt on your computer You can usually find it in the applications or by searching for "Command Prompt" on Windows

step 4
use "cd" command by navigate to the directory where you saved your Python script. For example, if your script is saved on the desktop, you might use:

step 5
To execute the Python script, simply type python followed by the name of your script file and press Enter.

"This will run your Python script, and you should see the output on the command prompt"

5. Given a list my_list = [1,2,3,4,5,], write the code slice the list and obtain sub-list [2,3].

In [25]:
my_list = [1,2,3,4,5]

In [29]:
my_list[1:3]

[2, 3]

6.what is complex in mathematics, how is it represented by in python

In mathematics the complex number "a + bi", the term "a" represents the real part of the number, and "bi" represents the imaginary part.

In [57]:
#in python Creating complex numbers
s1 = 4 + 7j  # 4 is the real part, 7 is the imaginary part
s2 = 5 - 7j  # 5 is the real part, -7 is the imaginary part

# Performing arithmetic operations with complex numbers

sum_s = s1 + s2
difference_s = s1 - s2
product_s = s1 * s2
quotient_s = s1 / s2

print("Sum:", sum_s)
print("Difference:", difference_s)
print("Product:", product_s)
print("Quotient:", quotient_s)

Sum: (9+0j)
Difference: (-1+14j)
Product: (69+7j)
Quotient: (-0.39189189189189183+0.8513513513513514j)

 7. what is the correct way to declare a varable named age and assign the value 25 to it

In [59]:
## age is varible and 25 value 
Age = 25

In [60]:
Age

25

8. Declare the varible named price and assigned the value 99.99 to it. what data type does this varible belong to?

In [ ]:
''' named_price is varible and 99.99 is a value 
this varible data type is float number'''

In [14]:
named_price = 99.99

In [17]:
type(named_price)

float

In [12]:
s = 99.99

In [13]:
type(s)

float

9. create a variable named name and assign your full name to it as a string. how would you print the value of this variable

In [18]:
name = "Ranganath swamy "

In [19]:
print(name)

Ranganath swamy

10 . Give the string " Hello world " extract the substring "world"

In [20]:
original_string = "Hello world"
substring = original_string[6:]
print(substring)

world

11. create a varible named "is_student" and assign the boolean value indicating whether you are curruntly student or not

In [24]:
is_student = True

is_student

True